body {
    background-color: black;
    color: white;
}

.bg-custom {
    background-color: rgba(25,25,122, 0.5);
}

.card {
    color: black;
}

#landing {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}

#quote {
    height: 50vh;
    background-image: url("../images/quote.png");
    background-position: center;
    background-attachment: fixed;
}

#profile-pic {
    width: 100%;
}