body {
    background-color: black;
    color: white;
}

.bg-custom {
    background-color: rgba(25,25,122, 0.5);
}

#landing {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}

#profile-pic {
    width: 100%;
}